body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.box {
   padding: 30px;
}

.container {
   
    border: 5px solid red;
}
.box-1{
    background-color: lightblue;
}
.box-2{
    background-color: lightgreen;
}
.box-3{
    background-color: lightcoral;
}
.box-4{
    background-color: lightgoldenrodyellow;
}
.box-5{
    background-color: lightpink;
}